{% extends 'base.html' %}
{% block title %}Result{% endblock title %}
{% load customtags %}
{% block body %}
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">S. No</th>
                <th scope="col">Student ID</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            {% for user in users_list %}
            <tbody>
              <tr>
                <th scope="row">{{forloop.counter0|add:1}}</th>
                <td>{{user}}</td>
                <td><button type="button" class="btn btn-primary" onclick="resultGet('{{exam_id}}', {{user|safe}})">Evaluate</button></td>
              </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <div class="container my-3">
      <button class="btn btn-success" onclick="doneEval()">Correction Complete</button>
    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="/static/jquery-3.6.0.min.js"></script>
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
    <script>
        function resultGet(exam_id, user_id) {
        	location.href = "/exam/results/evaluate/"+exam_id+'/'+user_id;
        }
        function doneEval(){
          $.ajax({
            type: 'POST',
            url: '/exam/results/evaluate/done/',
            dataType: 'json',
            data: { exam_id: {{exam_id}}, csrfmiddlewaretoken: '{{ csrf_token }}' }
          })
          location.href = "/exam/results/evaluate/"
        } 
    </script>

{% endblock body %}