<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Site</title>

    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap-5.0.1/css/bootstrap.min.css">
    
</head>
<body>
    {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}
        role="alert">
        {{ message }}
        <button type="button" class="close py-3" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    <div class="container my-3">
        <h1>Welcome to index.html from templates </h1>
        <hr>
        {{ request.user.first_name }} {{ request.user.last_name }}
        <br>
        <a class="btn btn-outline-primary" href="/exam" role="button">Exam Site</a>
        <a class="btn btn-outline-primary" href="/exam/results" role="button">Results Page</a>
        <a class="btn btn-outline-primary" href="/logout" role="button">Logout</a>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="/static/bootstrap-5.0.1/js/bootstrap.min.js"></script>  
    <script src="/static/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> 
</body>
</html>