{% extends 'base.html' %}
{% block title %}Students Results{% endblock title %}
{% block body %}

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">S. NO</th>
            <th scope="col">Student ID</th>
            <th scope="col">Correct</th>
            <th scope="col">Wrong</th>
            <th scope="col">Total Attempted</th>
            <th scope="col">Unattempted</th>
            <th scope="col">Marks</th>
          </tr>
        </thead>
        <tbody>
        {% for result in allresults %}
          <tr class="table-{{result.color}}">
            <th scope="row">{{forloop.counter0|add:1}}</th>
            <td>{{result.user_id}}</td>
            <td>{{result.correct}}</td>
            <td>{{result.wrong}}</td>
            <td>{{result.total}}</td>
            <td>{{result.unatt}}</td>
            <td>{{result.marks}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <th>Average</th>
            <td>{{correct}}</td>
            <td>{{wrong}}</td>
            <td>{{total}}</td>
            <td>{{unatt}}</td>
            <td>{{marks}}</td>
        </tr>
        </tbody>
    </table>
    <div class="container">
        <h4>Legend: </h4>
        <p><span class="text-danger">Red</span> - Poor</p>
        <p><span class="text-info">Blue</span> - Average</p>
        <p><span class="text-success">Green</span> - Good</p>
    </div>
</div>

{% endblock body %}