{% extends 'base.html' %}
{% block title %}Upload QA{% endblock title %}
{% block body %}
    <form action="" method="post" enctype="multipart/form-data">
    	
    	{% csrf_token %}
    	
    	<div class="container my-3">
        	<h1>Upload Question Paper</h1>
        	<hr>
			<div class="mb-3">
				<label for="examId" class="form-label">Exam ID</label>
				<input type="number" class="form-control" id="examId" name="examId">
			</div>
			<div class="mb-3">
				<label for="qpaperFile" class="form-label">Question Paper File (Pre-formatted)</label>
				<input class="form-control" type="file" id="qpaperFile" name="qpaperFile" />
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-outline-primary">Upload and Submit</button>
			</div>
    	</div>
    	
    </form>
{% endblock body %}